<div class="container-fluid">
  <div>
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">QSL to</label>
        <input type="text" class="form-control" id="qslto" formControlName="qslto" aria-describedby="emailHelp">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  <div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Calsign</th>
          <th scope="col">Slot number</th>
          <th scope="col">Date time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let qsl of qslsInLocal">
          <th scope="row">{{ qsl.qslId }}</th>
          <td>{{ qsl.toCallsign }}</td>
          <td>{{ qsl.slotNumber }}</td>
          <td>{{ qsl.dateTimeCapture }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>