<div class="container-fluid">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Seleccione local activo</h5>
            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="localIdSelected">
              <option *ngFor="let local of locals" [value]="local.id">
                 {{ local.name }}
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div>
            <h3>Buscar slots suceptibles de ser consolidados a partir de las reglas dadas de alta.</h3>
            <p>Aplica unicamente para el local activo</p>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Slot actual</th>
                        <th scope="col">Slot nuevo</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let consolidableData of consolidableDataList">
                        <td>{{ consolidableData.slotOrigen.slotNumber }} - {{consolidableData.slotOrigen.callsignto}}</td>
                        <td>{{ consolidableData.slotDestino.slotNumber }} - {{consolidableData.slotDestino.callsignto}}</td>
                        <td>
                            <button type="button" class="btn btn-danger" (click)="applyConsolidation(consolidableData)">
                              <span *ngIf="consolidating" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                              Aplicar
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
