<div class="container-fluid">
    <div class="container">
        <div>
            <h3>Buscar slots suceptibles de ser consolidados a partir de las reglas dadas de alta.</h3>
            <p>Aplica unicamente para el local activo</p>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Local</th>
                        <th scope="col">Qsl Para</th>
                        <th scope="col">Qsl VIA</th>
                        <th scope="col">Slot actual</th>
                        <th scope="col">Slot nuevo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
