<div class="container-fluid">
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Seleccione local activo</h5>
            <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <select class="form-select" aria-label="Default select example" [(ngModel)]="localIdSelected">
              <option *ngFor="let local of locals" [value]="local.id">
                 {{ local.name }}
              </option>
            </select>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div>
            <h3>Buscar slots suceptibles de ser consolidados a partir de las reglas dadas de alta.</h3>
            <p>Aplica unicamente para el local activo</p>
        </div>
        <div class="container">
            <form>
                <div class="form-group">
                    <button [disabled]="consolidableDataList == null || consolidableDataList.length <= 0" type="button" class="btn btn-danger" (click)="appySlots()">Aplicar todos los traslados</button>
                </div>
            </form>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Qsl Para</th>
                        <th scope="col">Qsl VIA</th>
                        <th scope="col">Slot actual</th>
                        <th scope="col">Slot nuevo</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let consolidableData of consolidableDataList">
                        <td>{{ consolidableData.qslDto?.to }}</td>
                        <td>{{ consolidableData.qslDto?.via }}</td>
                        <td>{{ consolidableData.oldSlotDto?.slotNumber }}</td>
                        <td>{{ consolidableData.newSlotDto?.slotNumber }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
